<div class="row">
  <div class="col-xs-12">
    <div class="img-responsive">
      <img [src]="currentRecipe.imagePath" alt="" id="dishImage" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ currentRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" dropdownToggle>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="addToList()">To shopping list</a></li>
        <li><a (click)="editRecipe()">Edit recipe</a></li>
        <li><a>Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ currentRecipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of currentRecipe.ingredients"
      >
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
