* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(178, 219, 219);
}
.container {
    margin: 2rem;
    padding: 2rem;
    border: 10px darkblue double;
    /* border-radius: %; */
}

.circle {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 2em auto;
    border: darkblue 4px dotted;
    border-radius:50px;
    
}
